/* ==========================================================================
   Box Sizing
   ========================================================================== */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ==========================================================================
Reset css
========================================================================== */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

ul, ol {
  /*list-style: none;*/
  margin: 0;
  padding: 0;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

/* Base declaration goes here*/
html,
body {
  width: 100%;
}

label {
  font-weight: normal;
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: "Roboto";
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
  font-family: "Roboto";
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

a:active,
a:hover {
  outline: 0;
  text-decoration: none;
  cursor: pointer;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 14px;
  /*top: -1px;*/
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

input[type="submit"] {
  display: none;
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a.noLink, a.noLink:visited, a.active {
    text-decoration: none;
  }

  a.noLink[href]:after, a.active:after {
    content: "";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }

  .noprint {
    display: none;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.left {
  display: block;
  float: left;
}

.right {
  display: block;
  float: right;
}

.SiteEditCP > br {
  display: none;
}

.SiteEditCP > div > br {
  display: none;
}

.page-title {
  display: none;
}

/*
 * mrk-clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.mrk-clearfix:before,
.mrk-clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.mrk-clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.mrk-clearfix {
  *zoom: 1;
}

/* ==========================================================================
 Common CSS Classes
========================================================================== */
.db {
  display: block;
}

.dn {
  display: none;
}

.fn {
  font-weight: normal;
}

.bld {
  font-weight: bold;
}

.clr {
  clear: both;
  height: 0px;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.displayNone {
  display: none;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media (max-width: 767px) {
  .row.reorder-xs {
    transform: rotate(180deg);
    direction: rtl;
    /* Fix the horizontal alignment */
  }

  .row.reorder-xs > [class*="col-"] {
    transform: rotate(-180deg);
    direction: ltr;
    /* Fix the horizontal alignment */
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  header nav .container-fluid .navbar-header {
    width: 15% !important;
  }

  header nav .container-fluid #navbar {
    padding-top: 4.5% !important;
  }

  header nav .container-fluid .socialBtns {
    padding-top: 4% !important;
  }

  header nav .container-fluid #navbar .navbar-nav .dropdown .first {
    left: -5px !important;
    padding-top: 3.5% !important;
  }

  header nav .container-fluid #navbar .navbar-nav .dropdown .second {
    left: -3px !important;
    padding-top: 2.5% !important;
  }

  #careerInspiration .tiffanyNguyen .container .row .rightBox {
    max-height: 230px !important;
  }

  #whatIsSteglatro .whatIsSteglatro .noGuttres {
    background-color: #f4f4f4;
    margin-right: -15px !important;
    margin-left: -15px !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  header nav .container-fluid #navbar .navbar-nav .dropdown .first {
    left: -5px !important;
    padding-top: 16% !important;
  }

  header nav .container-fluid #navbar .navbar-nav .dropdown .second {
    left: -3px !important;
    padding-top: 14% !important;
  }
}
/* ======================= CSS Hack For IE10/IE11 ======================= */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .secondRow .container .row-fluid .rightBox {
    margin-left: -5%;
  }

  .thirdRow .container .row-fluid .rightBox {
    margin-left: -5%;
  }

  #submit-your-story .fifthRow .container .submitBtnAlign button {
    padding-top: 5.5%;
  }
}
/* For portrait layouts only */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  #faqs #accordianSection .w89 {
    width: 98% !important;
  }

  .modal .modal-dialog {
    /*top: 10% !important;*/
  }
}
/* For landscape layouts only */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  #faqs #accordianSection .w89 {
    width: 86% !important;
  }
}
/* mobile Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  #faqs #accordianSection .w89 {
    width: 97% !important;
  }

  .modal .modal-dialog {
    /*top: 27.5% !important;*/
  }
}
/* mobile Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #faqs #accordianSection .w89 {
    width: 95% !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1050px) {
  #headerSection .container-fluid .navigationMenu #collapsibleNavbar .navbar-nav .nav-item {
    margin: 0 5px !important;
  }

  #home #homePage .bannersection .homeBannerText .sayHelloImg {
    padding: 5px 0px !important;
  }
}
/*@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
  ul{
    li{

      font-weight:700;
    }
  }
}*/
/* ======================= CSS Hack For MAC ======================= */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::i-block-chrome #howSteglatroWorksPage #pageMiddle .bloodSugar,
  #howSteglatroWorks #howSteglatroWorksPage #pageMiddle .bloodSugar {
    padding-right: 12.2% !important;
  }

  #faqs #accordianSection .w89 {
    width: 92%;
  }
}
/*IPad*/
@media only screen and (max-width: 1200px) and (min-width: 768px) {
  #home #homePage .bannersection .homeBannerText {
    top: 6% !important;
  }

  #howSteglatroWorks #howSteglatroWorksPage #pageMiddle .bloodSugar {
    padding-right: 3.5% !important;
  }
}
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  /*font: inherit; 
  font-size: 100%;
  vertical-align: baseline;*/
}

html {
  line-height: 1;
}

ol, ul {
  /*list-style: none;*/
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  background-color: #ffffff;
}

.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: 0.3;
}

.freezPage {
  overflow: hidden;
  height: 100%;
  position: relative;
}

.temp {
  height: 0;
}

.txtIndigo:hover {
  color: #4f0b7b;
}

.li_text_indent {
  text-indent: -9px;
  padding-left: 22px;
}

.underLine {
  text-decoration: underline !important;
}

.fs9 {
  font-size: 9px;
  font-size: 0.5625rem;
}

.fs10 {
  font-size: 10px;
  font-size: 0.625rem;
}

.fs12 {
  font-size: 12px;
  font-size: 0.75rem;
}

.fs60 {
  font-size: 60px;
  font-size: 3.75rem;
}

.fs15 {
  font-size: 15px;
  font-size: 0.9375rem;
}

.fs30 {
  font-size: 30px;
  font-size: 1.875rem;
}

.fs45 {
  font-size: 45px;
  font-size: 2.8125rem;
}

.fs35 {
  font-size: 35px;
  font-size: 2.1875rem;
}

/*font family*/
.montserrat {
  font-family: "Montserrat";
}

.anton {
  font-family: "Anton";
}

.roboto {
  font-family: "Roboto";
}

.robotoCondensed {
  font-family: "Roboto-Condensed";
}

.oxygenRegular {
  font-family: "Oxygen";
}

.font-open-sans {
  font-family: "Open Sans Condensed";
}

.muli {
  font-family: "Muli";
}

/*Font Families*/
.extraBold {
  font-weight: 800;
}

.bold {
  font-weight: 700;
}

.light {
  font-weight: 300;
}

.medium {
  font-weight: 500;
}

.thin {
  font-weight: 100;
}

.italic {
  font-style: italic;
}

.hide {
  display: none;
}

.hidden {
  visibility: hidden;
  display: none;
}

.clrBoth {
  clear: both;
  height: 0;
}

/*Text Colors*/
.txtPurple {
  color: #814c9e;
}

.txtPurple:hover {
  color: #5a356e;
}

.txtPurple:pressed {
  color: #814c9e;
}

.grayLightColor {
  color: #d8d8d8;
}

.txtDarkPurple {
  color: #5a356e !important;
}

.txtTeal {
  color: #814c9e;
}

.txtLightPurple {
  color: #a782bb;
}

.txtYellow {
  color: #fcce09;
}

.txtGrey {
  color: #e4e4e4;
}

.txtLightGrey {
  color: #f4f4f4;
}

.txtRed {
  color: red;
}

.txtBlack {
  color: #000000;
}

.txtIndigo {
  color: #4f0b7b;
}

.txtLine {
  color: #dfdfdf;
}

.txtcolorcenter {
  color: #370755;
}

.txtLink {
  color: #672f8d;
}

.bgblue {
  background-color: #28abe3;
}

.bg-gray {
  background-color: #e9ecef;
}

.bg-black {
  background-color: #000000;
}

.noBorder {
  border: none !important;
}

.txtWhite {
  color: #ffffff;
}

.txtWhite:hover {
  color: #ffffff;
}

.txtWhite:focus {
  color: #ffffff;
}

.txtWhite:active {
  color: #ffffff;
}

.learnMoreHover:hover > p {
  color: #000000;
}

.greenBtn {
  background-color: #814c9e;
}

.greenBtn:hover {
  background-color: rgba(26, 90, 100, 0.8);
}

.greenBtn:active {
  opacity: 1;
  background-color: #0c3a41;
}

/*active outline none*/
a:active, a:hover {
  outline: none;
}

.whiteBtn {
  background-color: #ffffff;
}

.underline {
  text-decoration: underline;
}

/*Width CSS*/
.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

/*margin top css*/
.mt0 {
  margin-top: 0;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 25px;
}

.mt30 {
  margin-top: 30px;
}

.mt35 {
  margin-top: 35px;
}

.mt40 {
  margin-top: 40px;
}

.mt50 {
  margin-top: 50px;
}

.mt60 {
  margin-top: 60px;
}

.mt70 {
  margin-top: 70px;
}

.mt70 {
  margin-top: 70px;
}

.mt70 {
  margin-top: 70px;
}

.mt70 {
  margin-top: 70px;
}

.mt_5 {
  margin-top: -5px;
}

.mt_25 {
  margin-top: -25px;
}

/*margin bottom css*/
.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

/*margin left css*/
.ml0 {
  margin-left: 0;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.ml15 {
  margin-left: 15px;
}

.ml20 {
  margin-left: 20px;
}

.ml25 {
  margin-left: 25px;
}

.ml35 {
  margin-left: 35px;
}

.ml50 {
  margin-left: 50px;
}

.ml_10 {
  margin-left: -10px;
}

.ml_15 {
  margin-left: -15px;
}

.ml_25 {
  margin-left: -25px;
}

.mb_20 {
  margin-bottom: -20px;
}

.mb_25 {
  margin-bottom: -25px;
}

.mb_30 {
  margin-bottom: -30px;
}

.mb_40 {
  margin-bottom: -40px;
}

.mb_50 {
  margin-bottom: -50px;
}

/*padding top css*/
.pt0 {
  padding-top: 0px;
}

.pt5 {
  padding-top: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pt20 {
  padding-top: 20px;
}

.pt25 {
  padding-top: 25px;
}

.pt30 {
  padding-top: 30px;
}

.pt35 {
  padding-top: 35px;
}

.pt60 {
  padding-top: 60px;
}

/*padding bottom css*/
.pb5 {
  padding-bottom: 5px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb15 {
  padding-bottom: 15px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb25 {
  padding-bottom: 25px;
}

.pb30 {
  padding-bottom: 30px;
}

.pb40 {
  padding-bottom: 40px;
}

.pl15 {
  padding-left: 15px;
}

.pr15 {
  padding-right: 15px;
}

.pl20 {
  padding-left: 20px;
}

.pl30 {
  padding-left: 30px;
}

.pl70 {
  padding-left: 70px;
}

.pr20 {
  padding-right: 20px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.p0 {
  padding: 0px;
}

.noWrap {
  white-space: nowrap;
}

.border-none {
  border: none;
}

.border1pxIndigo {
  border: 1px solid #4f0b7b;
}

.border-radious-none {
  border-radius: 0;
}

button {
  outline: none;
  border: none;
}

a:hover {
  text-decoration: none;
}

/*Navigation Menu bar css Ends*/
.middle {
  margin: 0 auto;
}

.nohover {
  opacity: 0;
}

.whiteOverlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.3;
  margin-top: -38px;
  z-index: -1;
}

.backgroud-black {
  background: #000000;
}

.blue-color {
  color: #28abe3;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.padding-left-right {
  padding: 0 100px 0 20px;
}

.button {
  color: #fff;
  padding: 15px 40px;
  border-radius: 50px;
}

.blue-button {
  background-color: #28abe3;
  border: 1px solid #28abe3;
}

.transparent-button {
  border: 1px solid #ffffff;
}

.paddingTop100 {
  padding-top: 100px;
}

.blue-line {
  height: 2px;
  width: 80px;
  display: inline-block;
  background: #28abe3;
}

.award-number {
  display: block;
}

.card {
  border: 0;
  border-radius: 0;
}

.blue-card {
  background: #28abe3;
}

.nav-buttom {
  padding: 7px 23px;
  border-radius: 0;
}

.progressBar {
  border-radius: 0;
  height: 10px;
}

.img-w-19 {
  width: 19%;
}

.plan-list i {
  font-size: 10px;
  padding-right: 10px;
}

.image-content {
  left: 50%;
  transform: translateX(-50%);
  bottom: -139px;
}
.image-content img {
  width: 120px;
}

.margingTop180 {
  margin-top: 180px;
}

.top40 {
  top: 40px;
}
@media only screen and (min-width: 992px) {
  /*font sizes*/
  .fs10 {
    font-size: 10px;
    font-size: 0.625rem;
  }

  .fs11 {
    font-size: 11px;
    font-size: 0.6875rem;
  }

  .fs12 {
    font-size: 12px;
    font-size: 0.75rem;
  }

  .fs13 {
    font-size: 13px;
    font-size: 0.8125rem;
  }

  .fs14 {
    font-size: 14px;
    font-size: 0.875rem;
  }

  .fs15 {
    font-size: 15px;
    font-size: 0.9375rem;
  }

  .fs16 {
    font-size: 16px;
    font-size: 1rem;
  }

  .fs17 {
    font-size: 17px;
    font-size: 1.0625rem;
  }

  .fs18 {
    font-size: 18px;
    font-size: 1.125rem;
  }

  .fs19 {
    font-size: 19px;
    font-size: 1.1875rem;
  }

  .fs20 {
    font-size: 20px;
    font-size: 1.25rem;
  }

  .fs21 {
    font-size: 21px;
    font-size: 1.3125rem;
  }

  .fs22 {
    font-size: 22px;
    font-size: 1.375rem;
  }

  .fs23 {
    font-size: 23px;
    font-size: 1.4375rem;
  }

  .fs24 {
    font-size: 24px;
    font-size: 1.5rem;
  }

  .fs28 {
    font-size: 28px;
    font-size: 1.75rem;
  }

  .fs30 {
    font-size: 30px;
    font-size: 1.875rem;
  }

  .fs36 {
    font-size: 36px;
    font-size: 2.25rem;
  }

  .fs34 {
    font-size: 34px;
    font-size: 2.125rem;
  }

  .fs48 {
    font-size: 48px;
    font-size: 3rem;
  }

  .fs50 {
    font-size: 50px;
    font-size: 3.125rem;
  }

  .bgOpacityDesk {
    background-color: rgba(255, 255, 255, 0.7);
  }

  .lh24 {
    line-height: 24px;
    line-height: 1.5rem;
  }

  .lh27 {
    line-height: 27px;
    line-height: 1.6875rem;
  }

  .lh30 {
    line-height: 30px;
    line-height: 1.875rem;
  }

  .lh34 {
    line-height: 34px;
    line-height: 2.125rem;
  }

  .lh36 {
    line-height: 36px;
    line-height: 2.25rem;
  }

  .lh40 {
    line-height: 40px;
    line-height: 2.5rem;
  }

  .lh45 {
    line-height: 45px;
    line-height: 2.8125rem;
  }

  .lh50 {
    line-height: 50px;
    line-height: 3.125rem;
  }

  .lh55 {
    line-height: 55px;
    line-height: 3.4375rem;
  }

  .lh60 {
    line-height: 60px;
    line-height: 3.75rem;
  }

  .pl30 {
    padding-left: 30px;
  }

  .pl70 {
    padding-left: 70px;
  }

  .mt40 {
    margin-top: 40px;
  }

  .ml130 {
    margin-left: 130px;
  }
  .txt-center {
    top: 50%;
    transform: translateY(-50%);
  }
}
.fullview {
   height : 100vh;
}
.lorem-list {
    list-style-type: none;
}
.lorem-list li {
    list-style-type: none;
    padding: 10px 0 0 0;
}
